/* general styles */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  width: 8rem;
  height: 1.7rem;
  border-radius: 9px;
  margin: 0.5rem auto 0 auto;
}

/* form */
.formContainer {
  background-color: lightgray;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.formContainer h1 {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.formContainer form label {
  padding: 0.3rem;
}

/* player container */
.playerContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0.5rem;
}

.playerContainer > h1 {
  /* block and full width to ensure full line for title */
  display: block;
  width: 100%;
  text-align: center;
}

/* individual players */
.player {
  margin: 0.5rem;
  padding: 0.5rem 0.8rem;
  display: flex;
  flex-direction: column;
  background-color: hsl(30, 100%, 68%);
  border-radius: 8px;

  max-width: 225px;
}

.player > h1, .player > p {
  text-align: center;
}

.player img {
  height: 200px;
  width: 200px;
}

/* player details screen */
.singlePlayerDetails {
  width: 90%;
  margin: 1.5rem auto;
  padding: 0.5rem;
  background-color: hsl(30, 100%, 68%);
  border-radius: 8px;
}

.singlePlayerDetails > h1,
.singlePlayerDetails > p {
  text-align: center;
}

.singlePlayerDetails > img {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto 0.7rem auto;
}

.singlePlayerDetails > p:last-of-type {
  text-align: left;
  margin-left: 2rem;
}

.singlePlayerDetails > ul {
  list-style-type: none;
  margin-left: 4rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.singlePlayerDetails ul li {
  display: inline;
  width: 25%;
}

.singlePlayerDetails > button {
  display: block;
  margin: 1rem auto;
}