/* general styles */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  width: 8rem;
  height: 1.7rem;
  border-radius: 9px;
  margin: 0.5rem auto 0 auto;
}

/* styling for form */
.formContainer {
  background-color: lightgray;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.formContainer h1 {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.formContainer form label {
  padding: 0.3rem;
}

/* styling for player container */
.playerContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0.5rem;
}

.playerContainer > h1 {
  /* block and full width to ensure full line for title */
  display: block;
  width: 100%;
  text-align: center;
}

/* styles for individual players */
.player {
  margin: 0.5rem;
  padding: 0.5rem 0.8rem;
  display: flex;
  flex-direction: column;
  background-color: hsl(30, 100%, 68%);
  border-radius: 8px;

  max-width: 225px;
}

.player > h1, .player > p {
  text-align: center;
}

.player img {
  height: 200px;
  width: 200px;
}